{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">

<h1>Hello World</h1>

{% if message %}
<h2>{{ message }}</h2>
{% else %}
<h2>Message Not Exist...</h2>
{% endif %}

{% if secret_message %}
<h2>{{ secret_message }}</h2>
{% else %}
<h2>--- Secret ---</h2>
{% endif %}

<h3>{% if db_connection %} Database Connected !! {% else %} Database Not Found... {% endif %}</h3>

<ul>
{% for fruit in fruit_list %}
    <li>{{ fruit }}</li>
{% endfor %}
</ul>

<div class="box {% if color_class %} {{ color_class }} {% endif %}"></div>